.pending {
  display: inline-block;
  padding: 4px 16px;
  color: var(--disabled-color);
}

.tab-button {
  border: 0;
  padding: 4px 16px;
  cursor: pointer;
  &:hover {
    background-color: inherit;
  }
}

.tab-button-active {
  display: inline-block;
  padding: 4px 16px;
}
